body {
    color: #202124;
}

.task_area li {
    list-style: none;
}

.task_area li:hover {
    cursor: pointer;
    background-color: #EEF1FF;
}

.completed_task_area li {
    list-style: none;
    text-decoration: line-through;
}

.completed_task_area li:hover {
    cursor: pointer;
    background-color: #EEF1FF;
}
